html {
	background-color: black;
	color:antiquewhite;
}

div.header {
	width: 98%;
	position: fixed;
	font-size: large;
	margin-top: 3px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 10px !important;
	text-align: center;
	border-width: 5px;
	border-color: aliceblue;
	border-style: solid;
}

div.navigation {
	position: fixed;
	top: 115px;
	width: 98%;
	border-bottom: 7px;
	border-top: 4px;
	border-left: 1px;
	border-right: 1px;
	border-color: #eee;
	border-style: solid;
	margin-top: 3px;
	margin-bottom: 5px;
	margin-left: 3px;
	margin-right: 10px !important;
}

div.navigation-box {
	text-align: center;
	width: 49%;
}

a.navigation-link {
	font-size: 16pt;
}

a.navigation-link:link {
	color: aliceblue;
}

a.navigation-link:visited {
	color: beige;
}

a.navigation-link:hover {
	color: #fff;
	background-color: darkslategray;
}

div.content {
	position: relative;
	top: 160px;
}

div.problem {
	margin: 20px 20px 20px 20px;
	background-color: lightgray;
	color: black;
	border-style: solid;
	border-color: burlywood;
	border-radius: 7px;
	border-width: 5px;
	padding: 10px;
	padding-left: 10px;
}